

@media (max-width: 300px) {
    .container{
        padding: 10px;
    }
}

@media (min-width: 301px) and (max-width: 420px){
    .container{
        grid-template-rows: 250px 40px 40px 40px 40px 40px 40px 40px;
        padding: 20px;
    }

    body{
        min-height: 700px;
    }
}