*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --background1: #247377;
    --background2: #162A65;
    --buttons: #fefefe;
}

body{
    background-image: linear-gradient(-45deg, var(--background1), var(--background2));
    width: 100%;
    height: 100vh;
    padding-bottom: 10px;
    
}

.container{
    padding: 0 20px 20px 20px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 40% 40px 40px 40px 40px 40px 40px 40px;
    grid-template-areas: 
    "logo"
    "button1"
    "button2"
    "button3"
    "button4"
    "button5"
    "button6"
    "button7"
    ;

}

.logoContainer{
    grid-area: logo;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
}

.jucimarContainer{
    grid-area: button2;
}

.balsamoContainer{
    grid-area: button6;
}

.facebookContainer{
    grid-area: button5;
}

.YoutubeContainer{
    grid-area: button1;
}

.ajudeIrmaoContainer{
    grid-area: button3;
}

.phoneContainer{
    grid-area: button4;
}

.instagramContainer{
    grid-area: button7;
}

.jucimarContainer, .balsamoContainer, .facebookContainer, .YoutubeContainer, .ajudeIrmaoContainer, .phoneContainer, .instagramContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jucimarButton, .balsamoButton, .facebookButton, .YoutubeButton, .ajudeIrmaoButton, .phoneButton, .instagramButton{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    min-height: 40px;
    display: flex;
    position: relative;
    background-color: var(--buttons);
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
}

.logoMS{
    height: 150px;
}

.imgs{
    height: 34px;
    border-radius: 50%;
    margin-left: 5px;
   
}

p{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.circle{
    height: 34px;
    width: 34px;
    background-color: #d5c9b9;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}